.cim{
    text-align: center;
    font-family: monospace;
    font-size: 30px;
    font-style: bold;
    animation: rainbow 3s linear 0s infinite;
}
@keyframes rainbow {
    from {
        color: #66f;
    }
    20% {
        color: #09f;
    }
    40% {
        color: #0f0;
    }
    60% {
        color: #f39;
    }
    80% {
        color: #66f;
    }
}
.kep{
    width: 256px;
    height: 256px;
}
.kiskep{
    display:none;
}